---
import { Image } from "astro:assets";
import BlackBackground from "@/images/black-background.webp"
import SpaceLighthouse from "@/images/space-lighthouse.webp"
---

<section>
    <div class="relative flex flex-col items-center justify-center h-screen text-white md:min-h-[768px]">
        <Image src={BlackBackground} class="absolute top-0 z-[-20] w-full h-full object-cover brightness-50" loading="eager" alt={"Bunch of stars"}/>
        <Image src={SpaceLighthouse} class="object-cover object-left w-full h-full md:object-center z-10" loading="eager" alt={"Space lighthouse"}/>
    </div>
    <div class="h-screen md:min-h-[768px]">

    </div>
</section>


