---
import { Icon } from "astro-icon/components"
---

<header class="backdrop-blur-3xl fixed bottom-0 w-full z-10 md:hidden pb-3">
  <nav class="sticky bottom-0 mx-auto flex w-full justify-between gap-8 px-4 md:px-8 pt-5 pb-3 text-xs sm:max-w-md sm:rounded-t-xl sm:border-l sm:border-r sm:text-sm">
    <a href="/" class="flex flex-col items-center gap-1 transition duration-100 active:text-background navlink">
      <Icon name={"house"} size={25} />
      <span>Home</span>
    </a>

    <a href="/projects" class="flex flex-col items-center gap-1 transition duration-100 active:text-background navlink">
      <Icon name={"project"} size={25} />
      <span>Projects</span>
    </a>

    <a href="/the-nerd" class="flex flex-col items-center gap-1 transition duration-100 active:text-background navlink">
      <Icon name={"address-card"} size={25} />
      <span>The Nerd</span>
    </a>

    <a href="/tools" class="flex flex-col items-center gap-1 transition duration-100 active:text-background navlink">
      <Icon name={"tools"} size={25} />
      <span>Tools</span>
    </a>

    <a href="/contact" class="flex flex-col items-center gap-1 transition duration-100 active:text-background navlink">
      <Icon name={"phone"} size={25} />
      <span>Contact</span>
    </a>
  </nav>
</header>

<script>
  const path = document.location.pathname
  const navLinks = Array.from(document.getElementsByClassName("navlink"))
  navLinks.forEach(link => {
    if (link.getAttribute("href") === path) {
      link.classList.add("text-background")
    } else {
      link.classList.add("text-neutral-500")
    }
  })
</script>