---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About - Mainasara Olulanke">
  <h1>About</h1>
  <p>This is the about page.</p>
  <p>Here you can find more information about me and my work.</p>
  <p>Feel free to reach out if you have any questions or want to connect!</p>
  <p>Thanks for visiting!</p>
  <p>Last updated: {new Date().toLocaleDateString()}</p>
  <p>© 2025 Mainasara Olulanke.</p>
  <p>Designed and Developed by <a href="https://github.com/Olulanke-Mainasara" class="underline transition-colors hover:text-white">Mainasara Olulanke</a></p>
</Layout>