---
import Layout from '../layouts/Layout.astro';
import { Splash } from '../components/Splash/Splash.tsx';
import Hero from '../components/Home-Page/Hero.astro';
import About from '../components/Home-Page/About.tsx';
import SButton from '../components/Shared/UI/SButton.astro';
import Projects from '../components/Home-Page/Projects.astro';
import { Icon } from 'astro-icon/components';
import Dashboard from '../components/Home-Page/Dashboard.astro';
import Process from '../components/Home-Page/Process.astro';
import Footer from '../components/Home-Page/Footer.astro';
---

<Layout title="Mainasara Olulanke - Frontend Engineer">
	<Splash client:load />
	<main>
		<div>
			<Hero />
			<About client:load >
				<div class="items-center hidden gap-4 lg:flex">
					<a href="mailto:mainasara.o.olulanke@gmail.com" target="_blank" rel="noopener noreferrer">
                    	<Icon name={"mail"} size={30} class={"hover:scale-125 hover:-rotate-6 duration-300 hover:text-background"} />
                	</a>
					<a href="https://www.linkedin.com/in/mainasara-olulanke-01658a228/" target="_blank" rel="noopener noreferrer">
						<Icon name={"linkedin"} size={30} class={"hover:scale-125 hover:rotate-6 duration-300 hover:text-background"} />
					</a>
					<a href="https://github.com/Olulanke-Mainasara" target="_blank" rel="noopener noreferrer">
						<Icon name={"github"} size={30} class={"hover:scale-125 hover:-rotate-6 duration-300 hover:text-background"} />
					</a>
					<a href="https://x.com/MainasaraOlu" target="_blank" rel="noopener noreferrer">
						<Icon name={"twitter"} size={30} class={"hover:scale-125 hover:rotate-6 duration-300 hover:text-background"} />
					</a>
					<a href="/contact"><SButton text="Contact me" iconPosition="right" icon="arrow-right" extraStyles="hidden lg:flex text-3xl text-black gap-3 bg-white pl-4 pr-[6px] py-[6px]" /></a>
				</div>
			</About>
		</div>

		<Projects />

		<Process />

		<Dashboard />
	</main>
	<Footer />
</Layout>
