---
import Layout from '../layouts/Layout.astro';
import { Splash } from '../components/Splash/Splash.tsx';
import Hero from '../components/Home-Page/Hero.astro';
import About from '../components/Home-Page/About.tsx';
import Projects from '../components/Home-Page/Projects.astro';
import Process from '../components/Home-Page/Process.astro';
import Footer from '../components/Home-Page/Footer.astro';
import ContactLinks from '@/components/Shared/UI/ContactLinks.astro';
---

<Layout title="Mainasara Olulanke - Frontend Engineer">
	<Splash client:load />
	<main>
		<div>
			<Hero />
			<About client:load >
				<ContactLinks />
			</About>
		</div>

		<p class="text-5xl md:text-6xl xl:text-9xl px-4 lg:px-8 text-white text-center font-thin mt-32 max-w-screen-2xl mx-auto">
        	From creating exquisite user interfaces, to crafting beautiful frontends,
        	I bring ideas to life with clean code and great design.✨
      	</p>

		<Projects />

		<Process />

		<p class="text-5xl md:text-6xl xl:text-9xl text-left text-white font-thin mt-32 px-4 lg:px-8 max-w-screen-2xl mx-auto">
			Building the future of the web & creating elegant solutions to complex 
			problems, one line of code at a time, using modern technologies.🖥
		</p>
	</main>
	<Footer />
</Layout>
