---
import { Icon } from "astro-icon/components";
import SLink from "./SLink.astro";


---

<div class="items-center hidden gap-4 lg:flex text-white">
    <a href="mailto:mainasara.o.olulanke@gmail.com" target="_blank" rel="noopener noreferrer">
        <Icon name={"mail"} size={30} class={"hover:scale-125 hover:-rotate-6 duration-300 hover:text-background"} />
    </a>
    <a href="https://www.linkedin.com/in/mainasara-olulanke-01658a228/" target="_blank" rel="noopener noreferrer">
        <Icon name={"linkedin"} size={30} class={"hover:scale-125 hover:rotate-6 duration-300 hover:text-background"} />
    </a>
    <a href="https://github.com/Olulanke-Mainasara" target="_blank" rel="noopener noreferrer">
        <Icon name={"github"} size={30} class={"hover:scale-125 hover:-rotate-6 duration-300 hover:text-background"} />
    </a>
    <a href="https://x.com/MainasaraOlu" target="_blank" rel="noopener noreferrer">
        <Icon name={"twitter"} size={30} class={"hover:scale-125 hover:rotate-6 duration-300 hover:text-background"} />
    </a>
    <SLink href='/contact' text="Contact me" iconPosition="right" icon="arrow-right" extraStyles="hidden lg:flex text-3xl text-black gap-3 bg-white pl-4 pr-[6px] py-[6px]" iconWandH='large' />
</div>